.vitoria {
background-color: green;    
background-repeat: no-repeat;
background-position:top right;

    font-size: 15px;
    padding-right: 30px;
    text-align: right;
    width: 150px;
}  

.menu_opcoes ul{
    font-size: 15px;
}

.menu_opcoes a{
    color: black;
}

body{
    color: darkblue;
}